{% extends 'adm/layout.html' %}
{% block title %}
    Upload File
{% endblock %}
{% block main %}
    {% if get_flashed_messages() %}
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
        {% endif %}
    <main class="container">
        <h1>Upload new Photo</h1>
        <form class="" method=post enctype=multipart/form-data>
            <div class="form-group">
                <label for=password>Password</label>
                <input class="form-control" id="password" type="password" name="password">
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="choose-file-upload"
                           aria-describedby="choose-file-upload" name="files" multiple>
                    <label class="custom-file-label" for="choose-file-upload">Choose files</label>
                </div>
            </div>
            <div class="form-group">
                <input class="btn btn-primary form-control" type=submit value=Upload>
            </div>
        </form>
        <script>
            $(".custom-file-input").on("change", function () {
                let files = $(this).prop("files");
                let names = $.map(files, val => val.name);
                let good_names = names.join(', ');
                $(this).siblings(".custom-file-label").addClass("selected").html(good_names);
            });
        </script>
    </main>
{% endblock %}