{% extends "main/layout.html" %}

{% block main %}
    <main class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 align-content-center">
                <h1 class="text-center">Hoi!</h1>
                <p>Na het behalen van mijn diploma 'Product Design' van de Hogeschool van Amsterdam in februari 2018 ben
                    ik gaan werken bij een grafisch ontwerpbureau in Haarlem.
                    Daarnaast ben ik steeds meer bezig met eigen opdrachten, zoals te zien is in dit portfolio.</p>
                <div class="text-center ">
                    <a href="https://www.linkedin.com/in/marlousvanleeuwen/"><i
                            class="social-icon fab fa-linkedin-in fa-3x fa-fw text-dark"></i></a>
                    <a href="mailto:marlousvleeuwen@live.nl"><i
                            class="social-icon far fa-envelope fa-3x fa-fw text-dark"></i></a>
                    <a href="https://www.instagram.com/marlousvleeuwen/"><i
                            class="social-icon fab fa-instagram fa-3x fa-fw text-dark"></i></a>
                </div>
            </div>
        </div>
    </main>
{% endblock %}