<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <a class="navbar-brand font-weight-bold" href="{{ url_for("index") }}">Marlous</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% set items = [("Product Design", 'product_design'), ("Grafisch Vormgeven", "grafisch_vormgeven"), ("Fotografie", "fotografie")] %}
            {% for item in items %}
                <li class="nav-item">
                    <a class="nav-link {% if item[1] == request.path[1:] %}active{% endif %}"
                       href={{ url_for("category", category_name=item[1]) }}>
                        {{ item[0] }}
                    </a>
                </li>
            {% endfor %}

            <li class="nav-item">
                {% set name = "contact" %}
                <a class="nav-link {% if name == request.path[1:] %}active{% endif %}" href="{{ url_for("contact") }}">Contact</a>
            </li>
        </ul>
    </div>
</nav>