/*
 * Start of Custom CSS
 */

$margin: 20px;
$half-margin: $margin / 2;

// Nav
.nav-link, .navbar-brand {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
}

.navbar-brand {

}

// Overlay is hidden
.card-img-overlay {
  opacity: 0;
}

// Overlay isn't hidden on
.card:hover {
  .card-img-overlay {
    opacity: 1;
  }
}

// Card
.card {
  margin: $half-margin;

  .card-img-overlay {
    padding: 0;

    .card-title-bg {
      height: 25%;
      opacity: 0.8;

      .card-text {
        opacity: 1;
      }
    }
  }
}

// Modal

.modal-body {
  img {
    margin: 10px;
  }
}

// Contact page
.social-icon {
  margin: $half-margin;
}

body {
  padding-top: 6.5rem;
}


footer {
  margin-top: $half-margin;
  margin-bottom: $margin;
}
